In [91]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE

In [92]:
# pip install imblearn

In [93]:
df=pd.read_csv("loan data.csv")
df.head(17)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,37.113614
6,1,1800,48649.0,57037.0,HomeImp,Other,5.0,3.0,2.0,77.100000,1.0,17.0,NaN
7,1,1800,28502.0,43034.0,HomeImp,Other,11.0,0.0,0.0,88.766030,0.0,8.0,36.884894
8,1,2000,32700.0,46740.0,HomeImp,Other,3.0,0.0,2.0,216.933333,1.0,12.0,NaN
9,1,2000,NaN,62250.0,HomeImp,Sales,16.0,0.0,0.0,115.800000,0.0,13.0,NaN
10,1,2000,22608.0,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1,2000,20627.0,29800.0,HomeImp,Office,11.0,0.0,1.0,122.533333,1.0,9.0,NaN
12,1,2000,45000.0,55000.0,HomeImp,Other,3.0,0.0,0.0,86.066667,2.0,25.0,NaN
13,0,2000,64536.0,87400.0,NaN,Mgr,2.5,0.0,0.0,147.133333,0.0,24.0,NaN
14,1,2100,71000.0,83850.0,HomeImp,Other,8.0,0.0,1.0,123.000000,0.0,16.0,NaN
15,1,2200,24280.0,34687.0,HomeImp,Other,NaN,0.0,1.0,300.866667,0.0,8.0,NaN
16,1,2200,90957.0,102600.0,HomeImp,Mgr,7.0,2.0,6.0,122.900000,1.0,22.0,NaN

In [94]:
from sklearn.impute import SimpleImputer

# Define numerical columns
num_cols = ['MORTDUE', 'VALUE', 'YOJ', 'DEROG', 'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC']
num_imputer = SimpleImputer(strategy='median')
df[num_cols] = num_imputer.fit_transform(df[num_cols])

In [95]:
cat_cols = ['REASON', 'JOB']
cat_imputer = SimpleImputer(strategy='most_frequent')
df[cat_cols] = cat_imputer.fit_transform(df[cat_cols])

In [96]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5960 entries, 0 to 5959
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BAD      5960 non-null   int64
 1   LOAN     5960 non-null   int64
 2   MORTDUE  5960 non-null   float64
 3   VALUE    5960 non-null   float64
 4   REASON   5960 non-null   object
 5   JOB      5960 non-null   object
 6   YOJ      5960 non-null   float64
 7   DEROG    5960 non-null   float64
 8   DELINQ   5960 non-null   float64
 9   CLAGE    5960 non-null   float64
 10  NINQ     5960 non-null   float64
 11  CLNO     5960 non-null   float64
 12  DEBTINC  5960 non-null   float64
dtypes: float64(9), int64(2), object(2)
memory usage: 605.4+ KB

Index(['BAD', 'LOAN', 'MORTDUE', 'VALUE', 'REASON', 'JOB', 'YOJ', 'DEROG',
       'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC'],
      dtype='object')

In [97]:
df = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5960 entries, 0 to 5959
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BAD             5960 non-null   int64
 1   LOAN            5960 non-null   int64
 2   MORTDUE         5960 non-null   float64
 3   VALUE           5960 non-null   float64
 4   YOJ             5960 non-null   float64
 5   DEROG           5960 non-null   float64
 6   DELINQ          5960 non-null   float64
 7   CLAGE           5960 non-null   float64
 8   NINQ            5960 non-null   float64
 9   CLNO            5960 non-null   float64
 10  DEBTINC         5960 non-null   float64
 11  REASON_HomeImp  5960 non-null   bool
 12  JOB_Office      5960 non-null   bool
 13  JOB_Other       5960 non-null   bool
 14  JOB_ProfExe     5960 non-null   bool
 15  JOB_Sales       5960 non-null   bool
 16  JOB_Self        5960 non-null   bool
dtypes: bool(6), float64(9), int64(2)
memory usage: 547.2 KB

In [99]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder



# Separate numerical and categorical columns
numerical_cols = ['LOAN', 'MORTDUE', 'VALUE', 'YOJ', 'DEROG', 'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC']
categorical_cols = ['REASON_HomeImp', 'JOB_Office', 'JOB_Other', 'JOB_ProfExe', 'JOB_Sales', 'JOB_Self']

 # Scaling using StandardScaler
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

# Encode categorical columns (Label Encoding for boolean columns)
encoder = LabelEncoder()
for col in categorical_cols:
    df[col] = encoder.fit_transform(df[col])

# scaled numerical values and encoded boolean features.
print(df.head())

   BAD      LOAN   MORTDUE     VALUE       YOJ     DEROG    DELINQ     CLAGE  \
0    1 -1.562299 -1.107920 -1.099371  0.240237 -0.280976 -0.375943 -1.018026
1    1 -1.544453 -0.069286 -0.582794 -0.241936 -0.280976  1.477341 -0.689350
2    1 -1.526606 -1.398407 -1.491970 -0.655226 -0.280976 -0.375943 -0.358680
3    1 -1.526606 -0.187596 -0.216389 -0.241936 -0.280976 -0.375943 -0.071488
4    0 -1.508759  0.582831  0.183939 -0.792990 -0.280976 -0.375943 -1.030391

       NINQ      CLNO   DEBTINC  REASON_HomeImp  JOB_Office  JOB_Other  \
0 -0.102879 -1.230878  0.106963               1           0          1
1 -0.707574 -0.728389  0.106963               1           0          1
2 -0.102879 -1.130380  0.106963               1           0          1
3 -0.102879 -0.125403  0.106963               0           0          1
4 -0.707574 -0.728389  0.106963               1           1          0

   JOB_ProfExe  JOB_Sales  JOB_Self
0            0          0         0
1            0          0         0
2            0          0         0
3            0          0         0
4            0          0         0

In [100]:
print(df.head())

   BAD      LOAN   MORTDUE     VALUE       YOJ     DEROG    DELINQ     CLAGE  \
0    1 -1.562299 -1.107920 -1.099371  0.240237 -0.280976 -0.375943 -1.018026
1    1 -1.544453 -0.069286 -0.582794 -0.241936 -0.280976  1.477341 -0.689350
2    1 -1.526606 -1.398407 -1.491970 -0.655226 -0.280976 -0.375943 -0.358680
3    1 -1.526606 -0.187596 -0.216389 -0.241936 -0.280976 -0.375943 -0.071488
4    0 -1.508759  0.582831  0.183939 -0.792990 -0.280976 -0.375943 -1.030391

       NINQ      CLNO   DEBTINC  REASON_HomeImp  JOB_Office  JOB_Other  \
0 -0.102879 -1.230878  0.106963               1           0          1
1 -0.707574 -0.728389  0.106963               1           0          1
2 -0.102879 -1.130380  0.106963               1           0          1
3 -0.102879 -0.125403  0.106963               0           0          1
4 -0.707574 -0.728389  0.106963               1           1          0

   JOB_ProfExe  JOB_Sales  JOB_Self
0            0          0         0
1            0          0         0
2            0          0         0
3            0          0         0
4            0          0         0

In [101]:
# Split features & target
X = df.drop('BAD', axis=1)
y = df['BAD']

In [102]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE


# Split train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


X_test

,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC,REASON_HomeImp,JOB_Office,JOB_Other,JOB_ProfExe,JOB_Sales,JOB_Self
1344,-0.714580,-0.665232,-0.771206,-1.206280,-0.280976,-0.375943,-0.108891,-0.707574,-0.125403,0.496070,0,1,0,0,0,0
625,-0.964434,-0.810710,-0.900935,0.309118,-0.280976,-0.375943,0.616991,-0.707574,1.080570,0.249280,0,0,1,0,0,0
5908,4.148652,-0.131895,0.724520,0.033591,-0.280976,0.550699,-0.748311,-0.707574,-1.029883,1.225563,1,1,0,0,0,0
2991,-0.197025,-0.221556,-0.227811,-0.241936,-0.280976,-0.375943,1.420475,-0.707574,-0.125403,-0.634138,1,0,1,0,0,0
1545,-0.652117,-0.187596,-1.282701,1.548990,-0.280976,-0.375943,0.126730,-0.707574,-0.627892,0.655167,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3688,0.070676,0.865140,1.251473,-0.517463,-0.280976,-0.375943,0.295146,1.106510,0.176090,1.221598,0,1,0,0,0,0
2404,-0.366569,-0.035019,-0.227002,0.033591,-0.280976,-0.375943,-1.121158,0.501815,-1.029883,-0.320889,0,0,1,0,0,0
1173,-0.768120,-1.480665,-0.585432,1.548990,-0.280976,1.477341,2.624929,-0.102879,-0.929385,0.106963,0,0,0,1,0,0
3209,-0.125638,-0.681683,-0.389018,-0.517463,-0.280976,-0.375943,-0.460313,-0.707574,-1.230878,-0.698398,0,0,0,0,0,0
2728,-0.286259,-0.187596,-0.811038,-0.930753,-0.280976,-0.375943,-1.174643,0.501815,-1.230878,0.617911,0,1,0,0,0,0

In [103]:
# Convert boolean columns to integers
X_train = X_train.astype(int)
X_test = X_test.astype(int)

In [104]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42, k_neighbors=3)  
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)

In [105]:
from collections import Counter

print("Before SMOTE:", Counter(y_train))
print("After SMOTE: ", Counter(y_train_smote))

Before SMOTE: Counter({0: 3844, 1: 924})
After SMOTE:  Counter({0: 3844, 1: 3844})

In [106]:
from sklearn.metrics import classification_report, confusion_matrix
from lightgbm import LGBMClassifier
from sklearn.svm import SVC

# Train LightGBM
lgb_model = LGBMClassifier(random_state=42)
lgb_model.fit(X_train_smote, y_train_smote)
lgb_preds = lgb_model.predict(X_test)


# Train SVM
svm_model = SVC(kernel='rbf', probability=True, random_state=42)
svm_model.fit(X_train_smote, y_train_smote)
svm_preds = svm_model.predict(X_test)

[LightGBM] [Info] Number of positive: 3844, number of negative: 3844
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003686 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 107
[LightGBM] [Info] Number of data points in the train set: 7688, number of used features: 16
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000

In [107]:
print("🔷 LightGBM Results:")
print(confusion_matrix(y_test, lgb_preds))
print(classification_report(y_test, lgb_preds))

🔷 LightGBM Results:
[[796 131]
 [ 93 172]]
              precision    recall  f1-score   support

           0       0.90      0.86      0.88       927
           1       0.57      0.65      0.61       265

    accuracy                           0.81      1192
   macro avg       0.73      0.75      0.74      1192
weighted avg       0.82      0.81      0.82      1192

In [108]:
print("🔷 SVM Results:")
print(confusion_matrix(y_test, svm_preds))
print(classification_report(y_test, svm_preds))

🔷 SVM Results:
[[778 149]
 [ 97 168]]
              precision    recall  f1-score   support

           0       0.89      0.84      0.86       927
           1       0.53      0.63      0.58       265

    accuracy                           0.79      1192
   macro avg       0.71      0.74      0.72      1192
weighted avg       0.81      0.79      0.80      1192